{{/*<footer class="section-footer bg-primary footer-dark">*/}}
{{/*    <div class="container">*/}}
{{/*        <section class="footer-main padding-y">*/}}
{{/*            <div class="row">*/}}
{{/*                <aside class="col-12 col-sm-12 col-lg-3">*/}}
{{/*                    <article class="me-lg-4">*/}}
{{/*                        <img src="{{ .shop.Logo }}" class="logo-footer">*/}}
{{/*                        <p class="mt-3"> © {{ currentYear }} {{ .shop.Name }} <br> All rights reserved.</p>*/}}
{{/*                    </article>*/}}
{{/*                </aside>*/}}

{{/*                */}}{{/*                <aside class="col-6 col-sm-4 col-lg-2">*/}}
{{/*                */}}{{/*                    <h6 class="title">Store</h6>*/}}
{{/*                */}}{{/*                    <ul class="list-menu">*/}}
{{/*                */}}{{/*                        <li><a href="#">About us</a></li>*/}}
{{/*                */}}{{/*                        <li><a href="#">Find store</a></li>*/}}
{{/*                */}}{{/*                        <li><a href="#">Categories</a></li>*/}}
{{/*                */}}{{/*                        <li><a href="#">Blogs</a></li>*/}}
{{/*                */}}{{/*                    </ul>*/}}
{{/*                */}}{{/*                </aside>*/}}

{{/*                */}}{{/*                <aside class="col-6 col-sm-4 col-lg-2">*/}}
{{/*                */}}{{/*                    <h6 class="title">Information</h6>*/}}
{{/*                */}}{{/*                    <ul class="list-menu">*/}}
{{/*                */}}{{/*                        <li><a href="#">Help center</a></li>*/}}
{{/*                */}}{{/*                        <li><a href="#">Money refund</a></li>*/}}
{{/*                */}}{{/*                        <li><a href="#">Shipping info</a></li>*/}}
{{/*                */}}{{/*                        <li><a href="#">Refunds</a></li>*/}}
{{/*                */}}{{/*                    </ul>*/}}
{{/*                */}}{{/*                </aside>*/}}

{{/*                */}}{{/*                <aside class="col-6 col-sm-4  col-lg-2">*/}}
{{/*                */}}{{/*                    <h6 class="title">Support</h6>*/}}
{{/*                */}}{{/*                    <ul class="list-menu">*/}}
{{/*                */}}{{/*                        <li><a href="#"> Help center </a></li>*/}}
{{/*                */}}{{/*                        <li><a href="#"> Documents </a></li>*/}}
{{/*                */}}{{/*                        <li><a href="#"> Account restore </a></li>*/}}
{{/*                */}}{{/*                        <li><a href="#"> My Orders </a></li>*/}}
{{/*                */}}{{/*                    </ul>*/}}
{{/*                */}}{{/*                </aside>*/}}

{{/*                */}}{{/*                <aside class="col-12 col-sm-12 col-lg-3">*/}}
{{/*                */}}{{/*                    <h6 class="title">Newsletter</h6>*/}}
{{/*                */}}{{/*                    <p>Stay in touch with latest updates about our products and offers </p>*/}}

{{/*                */}}{{/*                    <form class="mb-3">*/}}
{{/*                */}}{{/*                        <div class="input-group">*/}}
{{/*                */}}{{/*                            <input class="form-control" type="text" placeholder="Email">*/}}
{{/*                */}}{{/*                            <button class="btn btn-light" type="submit">*/}}
{{/*                */}}{{/*                                Join*/}}
{{/*                */}}{{/*                            </button>*/}}
{{/*                */}}{{/*                        </div>*/}}
{{/*                */}}{{/*                    </form>*/}}
{{/*                */}}{{/*                </aside>*/}}
{{/*            </div>*/}}
{{/*        </section>*/}}

{{/*        <hr class="my-0">*/}}

{{/*        <section class="footer-bottom d-flex justify-content-lg-between">*/}}
{{/*            <div>*/}}
{{/*                <i class="fab fa-lg fa-cc-visa"></i>*/}}
{{/*                <i class="fab fa-lg fa-cc-amex"></i>*/}}
{{/*                <i class="fab fa-lg fa-cc-mastercard"></i>*/}}
{{/*                <i class="fab fa-lg fa-cc-paypal"></i>*/}}
{{/*            </div>*/}}
{{/*            <nav class="dropup">*/}}
{{/*                <button class="dropdown-toggle btn text-white d-flex align-items-center py-0" type="button"*/}}
{{/*                        data-bs-toggle="dropdown">*/}}
{{/*                    <img src="/static/images/flags/flag-usa.png" class="me-2" height="20">*/}}
{{/*                    <span>English</span>*/}}
{{/*                </button>*/}}
{{/*                <ul class="dropdown-menu dropdown-menu-end">*/}}
{{/*                    <li><a class="dropdown-item" href="#">English</a></li>*/}}
{{/*                </ul>*/}}
{{/*            </nav>*/}}
{{/*        </section>*/}}
{{/*    </div>*/}}
{{/*</footer>*/}}

<!-- Bootstrap js -->
<script src="/static/js/bootstrap.bundle.min.js"></script>

<!-- Custom js -->
<script src="/static/js/script.js?v=2.0"></script>
