<!DOCTYPE HTML>
<html lang="en">

{{ template "partials/head" . }}

<body>

{{ template "partials/header" . }}

<section class="padding-y bg-light">
    <div class="container">
        <div class="row">
            <main class="col-xl-8 col-lg-8">
                <article class="card">
                    <div class="content-body">
                        <h5 class="card-title">Order Details</h5>
                        <div class="row">
                            <div class="col-6 mb-3">
                                <label class="form-label">First name</label>
                                <input type="text" class="form-control" placeholder="Type here" name="first-name"
                                       disabled value="{{ .order.Customer.FirstName }}">
                            </div>

                            <div class="col-6">
                                <label class="form-label">Last name</label>
                                <input type="text" class="form-control" placeholder="Type here" name="last-name"
                                       disabled value="{{ .order.Customer.LastName }}">
                            </div>

                            <div class="col-6 mb-3">
                                <label class="form-label">Phone</label>
                                <input type="text" class="form-control" placeholder="Type here" name="phone"
                                       disabled value="{{ .order.ShippingAddress.Phone }}">
                            </div>

                            <div class="col-6 mb-3">
                                <label class="form-label">Email</label>
                                <input type="text" class="form-control" placeholder="Type here" name="email" disabled
                                       value="{{ .order.Customer.Email }}">
                            </div>
                        </div>

                        <hr class="my-4">

                        <h5 class="card-title">Delivery Info</h5>

                        <div class="row">
                            <div class="col-sm-8 mb-3">
                                <label for="" class="form-label">Address</label>
                                <input type="text" class="form-control" placeholder="Type here" name="address" disabled
                                       value="{{ .order.ShippingAddress.Street }}">
                            </div>

                            <div class="col-sm-4 col-6 mb-3">
                                <label for="" class="form-label">Postal code</label>
                                <input type="text" class="form-control" placeholder="Type here" name="postal-code"
                                       disabled value="{{ .order.ShippingAddress.Postcode }}">
                            </div>

                            <div class="col-sm-4 col-6 mb-3">
                                <label for="" class="form-label">City</label>
                                <input type="text" class="form-control" placeholder="Type here" name="city" disabled
                                       value="{{ .order.ShippingAddress.City }}">
                            </div>

                            <div class="col-sm-4 col-6 mb-3">
                                <label for="" class="form-label">State</label>
                                <input type="text" class="form-control" placeholder="Type here" name="state" disabled
                                       value="{{ .order.ShippingAddress.State }}">
                            </div>

                            <div class="col-sm-4 mb-3">
                                <label for="" class="form-label">Country</label>
                                <input type="text" class="form-control" placeholder="Type here" name="state" disabled
                                       value="{{ .order.ShippingAddress.Location.Name }}">
                            </div>

                            <div class="col-sm-6 mb-3">
                                <label for="" class="form-label">Delivery Method</label>
                                <input type="text" class="form-control" placeholder="Type here" name="state" disabled
                                       value="{{ .order.ShippingMethod.DisplayName }}">
                            </div>

                            <div class="col-sm-6 mb-3">
                                <label for="" class="form-label">Payment Method</label>
                                <input type="text" class="form-control" placeholder="Type here" name="state" disabled
                                       value="{{ .order.PaymentMethod.DisplayName }}">
                            </div>
                        </div>

                        <div class="mb-4">
                            <label for="" class="form-label">Message to seller</label>
                            <textarea class="form-control" name="note" disabled>{{ .order.Note }}</textarea>
                        </div>

                        {{ if .show_payment_btn }}
                            <div class="float-end">
                                <a class="btn btn-primary"
                                   href="/orders/{{.order.Hash}}/payment?email={{.order.Customer.Email}}">Pay Now</a>
                            </div>
                        {{end}}
                    </div>
                </article>
            </main>

            <aside class="col-xl-4 col-lg-4">
                <article class="ms-lg-4 mt-4 mt-lg-0" style="max-width: 320px">
                    <h6 class="card-title">Summary</h6>
                    <dl class="dlist-align">
                        <dt>Status:</dt>
                        <dd class="text-end" id="subtotal">{{ .order.Status }}</dd>
                    </dl>

                    <dl class="dlist-align">
                        <dt>Payment Status:</dt>
                        <dd class="text-end" id="subtotal">{{ .order.PaymentStatus }}</dd>
                    </dl>

                    <hr>

                    <dl class="dlist-align">
                        <dt>Subtotal:</dt>
                        <dd class="text-end" id="subtotal">{{ formatAmount .order.Subtotal }}</dd>
                    </dl>
                    <dl class="dlist-align">
                        <dt>Discount:</dt>
                        <dd class="text-end text-danger" id="discount">-{{ formatAmountR .order.DiscountedAmount }}</dd>
                    </dl>
                    <dl class="dlist-align">
                        <dt>Delivery Fee:</dt>
                        <dd class="text-end" id="delivery-fee">{{ formatAmount .order.ShippingCharge }}</dd>
                    </dl>
                    <dl class="dlist-align">
                        <dt>Payment Processing Fee:</dt>
                        <dd class="text-end" id="delivery-fee">{{ formatAmount .order.PaymentProcessingFee }}</dd>
                    </dl>
                    <hr>
                    <dl class="dlist-align">
                        <dt>Grand Total:</dt>
                        <dd class="text-end"><strong class="text-dark"
                                                     id="grand-total">{{ formatAmount .order.GrandTotal }}</strong></dd>
                    </dl>

                    {{ if ne .order.CouponCode.Code "" }}
                        <div class="input-group my-4">
                            <span>Applied Coupon Code {{ .order.CouponCode.Code }}</span>
                        </div>
                    {{end}}

                    <hr>

                    <h6 class="mb-4">Items</h6>

                    {{ range $item := .order.Cart.CartItems }}
                        <figure class="itemside align-items-center mb-4">
                            <div class="aside">
                                <b class="badge bg-secondary rounded-pill">{{ $item.Quantity }}</b>
                                <img src="{{ getIndex $item.Product.FullImages 0 }}" class="img-sm rounded border">
                            </div>

                            <figcaption class="info">
                                <a class="title">{{ $item.Product.Name }}</a>
                                <div class="price text-muted">{{ formatAmount $item.PurchasePrice }}</div>
                            </figcaption>
                        </figure>
                    {{end}}
                </article>
            </aside>
        </div>

        <br><br>
    </div>
</section>

{{ template "partials/footer" . }}

</body>
</html>
